In [1]:
print("Murugan is a ")

Murugan is a

In [2]:
a=54*3
print(a)

162

In [3]:
print(a)

162

In [4]:
b=908/2
print(b)
print(b)

454.0
454.0

In [5]:
var1=890
var2=567
var3=123456.7890
print(var1+var2+var3)

124913.789

In [6]:
print(var1)
print(var2)
print(var3)

890
567
123456.789

In [7]:
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'int'>
<class 'float'>

In [8]:
v3=var1*var2
print(v3)

504630

In [9]:
v=input("Enter ur name:")

Enter ur name: sourav

In [10]:
vbool=var2+var3
vbool

124023.789

In [ ]:
m=int(input("Enter the value:"))
n=int(input("Enter the number:"))
q=m*n

In [15]:
str1= 'coimbatore '
str2='tamilnadu '
str3='tiruppur '
print(str1+str2+str3)

coimbatore tamilnadu tiruppur

In [13]:
len(str2)

9

In [14]:
str2[2]

'm'

In [16]:
str1[5]

'a'

In [17]:
str1[::-1]

' erotabmioc'

In [18]:
tup=("kpriet",23,26.563,True,"hello india",45,77)
type(tup)

tuple

In [19]:
tup[::-1]

(77, 45, 'hello india', True, 26.563, 23, 'kpriet')

In [20]:
tup[1:4]

(23, 26.563, True)

In [21]:
tup1=(932,56,"the","goat")
tup2=tup1+tup

In [22]:
len(tup)

7

In [24]:
lst=["kpriet",23,26.563,True,"hello india",45,77]
lst[:3:2]

['kpriet', 26.563]

In [25]:
type(lst)

list

In [26]:
lst2=["the","nimalan",45,67]
lst+lst2

['kpriet', 23, 26.563, True, 'hello india', 45, 77, 'the', 'nimalan', 45, 67]

In [28]:
lst.remove(23)

In [31]:
del lst[3]

In [32]:
dic={'key1':'value1','key2':'value2','key3':'value3','key4':'value4'}
print(dic)
print(type(dic))

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}
<class 'dict'>

In [ ]:
for i in rang e